.content__control {
   margin: 0 auto;
   width: 100%;
   height: 8vh;
   max-height: 158px;
   min-height: 90px;
   margin: 1.5vh 0;
   display: flex;
   justify-content: center;
}

.control__wrapper {
   width: 60%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.wrapper__search {
   padding: 0;
   margin: 0;
   height: 50%;
   width: 100%;
   box-shadow: 0px 2px 8.7px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
   background: #F1F1F1;
   border: none;
   padding: 1% 3%;

   font-style: normal;
   font-weight: 500;
   font-size: 17px;
   color: #9A9A98;
   line-height: 130%;
}

.wrapper__selectbar {
   height: 38%;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.selectbar__selector {
   height: 100%;
   width: 32%;
   background: #F1F1F1;
   box-shadow: 0px 2px 8.7px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
   border: none;
   cursor: pointer;

   font-style: normal;
   font-weight: 500;
   font-size: 17px;
   color: #9A9A98;
   line-height: 130%;
}




