.content__control {
   margin: 0 auto;
   width: 100%;
   height: 8vh;
   max-height: 158px;
   min-height: 90px;
   margin: 1.5vh 0;
   display: flex;
   justify-content: center;
}

.control__wrapper {
   width: 60%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.wrapper__search {
   height: 50%;
   width: 100%;
   background: #F1F1F1;
   box-shadow: 0px 2px 8.7px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
   border: none;
   padding: 0 3%;

   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 130%;
   color: #323232;
}

.wrapper__search::placeholder {
   color: #9A9A98;
}

.wrapper__selectbar {
   height: 38%;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.selectbar__selector {
   height: 100%;
   width: 32%;
   background: #F1F1F1;
   box-shadow: 0px 2px 8.7px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
   border: none;
   cursor: pointer;
   padding-left: 15px;
   padding-right: 15px;

   background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%23323232' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
   background-repeat: no-repeat;
   background-position: right 15px center;
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;

   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 130%;
   color: #323232;
}

.selectbar__selector option {
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   font-size: 15px;
   color: #323232;
}