@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   height: 100vh;
   width: 100vw;
   overflow-x: hidden;
}

#root {
   height: 100%;
   width: 100%;
}